#mainJumbotron {
  display: flex;
  justify-content: space-between;
  background-color: #f7f7f7;
  height: 90vh;
}
#mainJumbotron img {
  width: 50%;
  object-fit: contain;
}
#mainJumbotron #content {
  width: 50%;
  margin-top: 10%;
  text-align: left;
  padding: 0px 50px;
}
#mainJumbotron #content h4 {
  font-weight: 400;
}
#mainJumbotron #content button {
  margin-top: 20px;
  margin-right: 10px;
  width: 100px;
  background-color: #476ca6;
  border: none !important;
  color: white;
  padding: 5px;
  border-radius: 3px;
}
#mainJumbotron #content > p:nth-of-type(2) {
  margin: 10px 0px !important;
}
@media only screen and (max-width: 768px) {
  #mainJumbotron {
    display: flex;
    flex-direction: column;
  }
  #mainJumbotron img,
  #mainJumbotron #content {
    width: 100%;
  }
  #mainJumbotron img {
    margin-top: -100px;
  }
}
