#pieChart {
  margin: 20px auto;
  max-width: 250px;
  max-height: 250px;
}
#wrapper {
  background-color: #90a2bd !important;
}
#metrics {
  margin-left: 15%;
  padding: 20px;
  background-color: #90a2bd;
  color: white;
}
#metrics #lotsAvailableInfo {
  text-align: center;
  height: 400px;
  width: 20vw;
  box-shadow: 2px 4px 12px 1px rgba(0, 0, 0, 0.72);
  padding: 10px;
  border-radius: 30px;
  background-color: #476ca6;
}
#metrics #charts #topLots {
  text-align: center;
  margin: 0px 40px;
  border-radius: 10px;
  color: white;
}

#metrics #charts #topLots .listElementsHeading {
  display: flex;
  padding: 10px;
  margin: 10px 5px;
}
#metrics #charts #topLots .listElements {
  display: flex;
  padding: 10px;
  margin: 10px 5px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px -1px rgba(0, 0, 0, 0.72);
  background-color: #476ca6;
}
#metrics #charts #topLots .listElements > p,
#metrics #charts #topLots .listElementsHeading > p {
  margin: 0px 20px !important;
  width: 5vw;
}
#metrics #charts #topLots .listElements > p:nth-of-type(2),
#metrics #charts #topLots .listElementsHeading > p:nth-of-type(2) {
  width: 20vw;
}
#metrics #charts {
  display: flex;
}
#metrics #averageOccupancy {
  background-color: #476ca6;
  margin: 20px 0px;
  padding: 10px;
  box-shadow: 2px 4px 12px 1px rgba(0, 0, 0, 0.72);
  border-radius: 30px;
}
#metrics #averageOccupancy > h5 {
  text-align: center;
}
@media only screen and (max-width: 768px) {
  #metrics {
    margin-left: 0%;
  }
  #metrics #charts {
    display: flex;
    flex-direction: column;
  }
  #metrics #lotsAvailableInfo {
    width: 100%;
  }
  #pieChart {
    max-width: 250px;
    max-height: 250px;
  }
  #metrics #charts #topLots {
    margin: 20px 0px;
  }
  #metrics #charts #topLots .listElementsHeading {
    margin: 10px 5px 10px 0px;
    padding: 10px 0px;
  }
  #metrics #averageOccupancy {
    min-height: 200px;
  }
  #metrics #averageOccupancy #averageChart {
    min-height: 200px;
  }
}
