#parkingpage {
  color: white;
  background-color: #90a2bd;
  min-height: 100vh;
  display: flex;
}
#parkingpage #parking_lots {
  margin-left: 15%;
  padding: 20px;
  width: 85vw;
  scroll-behavior: auto;
}
#parkingpage #parking_lots #heading {
  display: flex;
  justify-content: space-between;
}
#parkingpage .searchBar {
  width: 15vw;
  display: flex;
  border: 2px solid #476ca6;
  padding: 5px 10px;
  border-radius: 30px;
  background-color: #476ca6;
}
#parkingpage .searchBar input {
  border: none;
  padding: 0px 5px;
  color: white;
  background-color: transparent;
}
#parkingpage .searchBar input:focus {
  outline: none;
}
#parkingpage .searchBar input::placeholder {
  color: white;
}
#parkingpage .searchBar svg {
  min-width: 18px;
  font-size: 18px;
  margin-top: 3px;
}
#parkingpage #lotInfo {
  display: flex;
  width: 75vw;
  border: 1px solid #476ca6;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0px;
  color: white;
  background-color: #476ca6;
}
#parkingpage #lotInfo:hover {
  cursor: pointer;
  background-color: #113369;
}
.spinner-border {
  color: #476ca6 !important;
  position: absolute;
  left: 50vw;
  top: 50vh;
}
.pagination {
  padding: 10px 0px;
  margin-left: 45%;
  width: 30%;
}
.pagination .page-item.active .page-link {
  background-color: #476ca6 !important;
  border-color: #476ca6 !important;
  color: white !important;
}
.pagination .page-link {
  color: #476ca6 !important;
}
#paginationWrapper {
  width: 100%;
  background-color: #90a2bd;
  height: 80px;
}
@media only screen and (max-width: 768px) {
  #parkingpage #parking_lots {
    margin-left: 5%;
  }
  #parkingpage #parking_lots #heading {
    display: flex;
    flex-direction: column;
  }
  #parkingpage .searchBar {
    width: 100%;
  }
  .pagination {
    margin-left: 10%;
  }
}
