#signin {
  width: 30vw;
  height: 60vh;
  margin: auto auto;
  text-align: center;
  margin-top: 25vh;
  padding: 0px auto;
}
#signin svg {
  font-size: 50px !important;
}
#signin #inputform {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  #signin {
    width: 80vw;
  }
}
