@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#inprogressImage {
  margin-left: 40%;
  margin-top: 5%;
}
code {
  font-family: "Roboto", sans-serif !important;
}
p {
  margin: 0px !important;
}
@media only screen and (max-width: 768px) {
  #inprogressImage {
    width: 50%;
    object-fit: contain;
    margin-left: 30%;
    margin-top: 50%;
  }
}
